{erl_opts, [debug_info]}.
{deps, [proper]}.

{profiles, [{test, [{erl_opts,[debug_info]}
                   ,{deps, [proper]}
                   ]}
           ,{test_hipe, [{erl_opts,[{native, {hipe,o3}}
                                  ,{d, 'NATIVE'}
                                  , debug_info]}
                       ,{deps, [proper]}
                       ]}
           ,{prod, [{erl_opts, [no_debug_info, warnings_as_errors]}
                   ]}
           ]
}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [berty]}
]}.
